.projects-container {
  padding: 3rem 0;
  .title {
    font-family: stylishFont;
    text-align: center;
  }
  .grid-container {
    .grid {
      display: grid;
      -webkit-box-align: center;
      align-items: center;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 8fr;
      gap: 1.2rem;
    }
  }
}

@media (min-width: 960px) {
  .projects-container .grid-container {
    padding: 0 5rem;
  }
}

@media (max-width: 960px) {
  .projects-container .grid-container {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 500px) {
  .projects-container .grid-container .grid {
    grid-template-columns: 1fr;
  }
}
