.contact-container {
  padding: 2rem 4rem;
  // height: 80vh;
  .title {
    // font-family: stylishFont;
    text-align: center;
  }
  .grid-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    .grid {
      width: 100%;
      display: flex;
      -webkit-box-align: center;
      justify-content: center;
      align-items: center;

      .social-media {
        background: transparent;
      }
    }
  }
  h3 {
    font-weight: bold;
    font-size: 1.6rem;
  }

  p {
    font-size: 0.8rem;
    font-weight: normal;
  }

  ul,
  li {
    list-style: none;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
  }
  ul li a {
    text-decoration: none;
    color: #000;
    background: #ffc;
    display: block;
    height: 10em;
    width: 10em;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(50, 50, 50, 0.4);
  }
  ul li {
    margin: 1em;
  }
  ul li:nth-child(even) a {
    transform: rotate(4deg);
    position: relative;
    top: 5px;
    background: #ccf;
  }
  ul li:nth-child(3n) a {
    transform: rotate(-3deg);
    position: relative;
    top: -5px;
  }
  ul li:nth-child(5n) a {
    transform: rotate(5deg);
    position: relative;
    top: -10px;
  }
}

@media (max-width: 500px) {
  .contact-container {
    padding: 1rem;
  }
}
