.skills-container {
  padding: 3rem 0;
  margin-bottom: 3rem;
  .title {
    font-family: stylishFont;
    text-align: center;
  }
  .grid-container {
    display: flex;
    justify-content: center;
    .grid {
      width: 70%;
      // background: rgb(255, 216, 216);
      display: grid;
      -webkit-box-align: center;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(80px, 3fr));
      gap: 0.8rem;
    }
  }
}
@media (max-width: 500px) {
  .skills-container .grid-container .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
