.skills-container {
  padding: 3rem 4rem;
  margin-bottom: 3rem;
  .title {
    text-align: center;
  }
  .grid-container {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    .grid {
      width: 70%;
      // background: rgb(255, 216, 216);
      display: grid;
      -webkit-box-align: center;
      justify-content: center;
      align-items: center;
      // grid-template-columns: repeat(auto-fit, minmax(80px, 3fr));
      grid-template-columns: repeat(5, 1fr);
      gap: 0.8rem;
    }
  }
}
@media (max-width: 500px) {
  .skills-container .grid-container .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .skills-container {
    padding: 3rem 4rem;
  }
}
