.App {
  background: #fbfaf7;
  padding: 0 4rem;
}

@media (max-width: 500px) {
  .App {
    padding: 0 1rem;
  }
}

@media (min-width: 992px) {
  .skills-container {
    height: 90vh;
    align-items: center;
  }
}
